body {
    margin: 0;
    background: navy;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0;
    color: white;
    font-size: 20px
}

.box {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.score {
    width: 100px;
    height: 100px;
    background: black;
    color: red;
    text-align: center;
    font-size: 25px;
}

.btn {
    display: flex;
    justify-content: space-around;
}

.point-box {
    margin-top: 20px;
    background: navy;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 5px;
}